<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        给其他bean用于继承 抽取出来
    -->
    <bean id="baseDAO" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.mark.project.pss.dao.impl.DepartmentDAOImpl" id="departmentDAO" parent="baseDAO"/>

    <bean class="com.mark.project.pss.dao.impl.EmployeeDAOImpl" id="employeeDAO" parent="baseDAO"/>

    <bean class="com.mark.project.pss.dao.impl.PermissionDAOImpl" id="permissionDAO" parent="baseDAO"/>

    <bean class="com.mark.project.pss.dao.impl.RoleDAOImpl" id="roleDAO" parent="baseDAO"/>
</beans>